@font-face {
    font-family: Objective-Regular;
    src: url(../fonts/Objective_Woff2/Objective-Regular.woff2);
}

@font-face {
    font-family: Objective-Light;
    src: url(../fonts/Objective_Woff2/Objective-Light.woff2);
}

@font-face {
    font-family: Objective-Medium;
    src: url(../fonts/Objective_Woff2/Objective-Medium.woff2);
}

@font-face {
    font-family: Objective-Bold;
    src: url(../fonts/Objective_Woff2/Objective-Bold.woff2);
}