/* colors */
$blue-color: #4A99D3;
$blue-transparent-color: rgba(74, 154, 211, 0.115);
$gold-color: #D3844A;
$white-color: #FFFFFF;
$purple-color: rgba(75, 0, 129, 0.148);
$gray-color: rgba(128, 128, 128, 0.8);
$black-color: black;

/* fonts */
$medium-objective: Objective-Medium, 'Arial Narrow Bold', sans-serif;
$regular-objective: Objective-Regular, 'Arial Narrow Bold', sans-serif;
$light-objective: Objective-Light, 'Arial Narrow Bold', sans-serif;
$bold-objective: Objective-Bold, 'Arial Narrow Bold', sans-serif;